@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: #4a90e2 #ffffff;
	/* Change colors as desired */
}

.custom-scrollbar::-webkit-scrollbar {
	width: 0rem;
	/* Width of the scrollbar for WebKit browsers */
}

/* Customize the scrollbar track */
.move-custom-scrollbar::-webkit-scrollbar {
	width: 5px; /* Width of the scrollbar */
}

/* Customize the scrollbar thumb */
.move-custom-scrollbar::-webkit-scrollbar-thumb {
	background: #888; /* Background color of the thumb */
	border-radius: 0px; /* Rounded corners for the thumb */
}

/* Customize the scrollbar track on hover */
.move-custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #555; /* Background color of the thumb on hover */
}

/* Customize the scrollbar track when it's pressed */
.move-custom-scrollbar::-webkit-scrollbar-thumb:active {
	background: #333; /* Background color of the thumb when pressed */
}

/* Customize the scrollbar track */
.move-custom-scrollbar::-webkit-scrollbar-track {
	background: #f1f1f1; /* Background color of the track */
}

/* Animation toggle when moves expanded and collapse */
.move-details {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out; /* You can adjust the duration and easing as needed */
}

.sl-box4{
    height: inherit !important;
    padding: inherit !important;
    width: inherit !important;
}